
.form-main-container{
    display: flex;
    /* background: url("/beautiful.jpg"); */
    justify-content: center;
    background-image: url("./signupbg.jpg");
    /* background-repeat: no-repeat; */
    background-size: contain;
    
    /* align-items: center; */

}
.form-container{
    background-color:rgb(105, 190, 105);
    width: 50%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* justify-content: center; */
    /* align-items: center; */
}
.form-heading{
    text-align: center  ;
    border-bottom: 2px solid black; 
}
form{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:10px auto;
}   

.input-container input{
    padding: 5px;
    width: 90%
}
.input-container label{
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}
.btn-container{
 /* display: block; */
 width: 100%;
}
.btn{
    padding: 5px;
    background-color: rgba(255, 136, 0, 0.815);
    color: black;
    border: none;
    border-radius: 6px;
    display: block;    
    width: 100%;
    cursor: pointer;


}
.btn:hover{
    background-color: rgba(0, 255, 55, 0.815);
}


@media screen and (max-width:470px){
    .form-container{
        width: 70%;
    }
}
