.main-body {
    
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin: 14px;
    width: 30%;
    background-color: rgb(107, 217, 221);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body img{
    width: 100px;
    height: 80px;
}
.heading {
    text-align: center;
}
.heading h2{
    color:maroon;
}

.sname {
    text-align: center;
}

.btn {
    
    padding: 4px;
    color: rgb(247, 247, 247);
    display: flex;
    background-color: rgb(33, 87, 187);
    
    margin: 1px auto 5px auto;

}
p {
    font-weight: 600;
}

@media screen and (max-width:470px){
    
    .main-body{
        width: 85%;
        margin: 6px;
        background-color: rgb(107, 217, 221);        
    }
    
.main-body img{
    width: 70px;
    height: 50px;
}
}
